body {
    font-family: Arial, sans-serif;
    /* background: linear-gradient(#35771b, #ccffcc); */
    /* background-image: url(top-view-abstract-innovation-arrangement.jpg); */
    background-color: #60a789;
    
    margin: 0;
    padding: 0;
  }

  .chat-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .chat-header {
    /* background-color: #4CAF50; */
    background-color: #60a789;
    color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .chat-body {
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
  }

  .chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }

  .user {
    background-color: #f1f1f1;
    text-align: right;
  }

  .assistant {
    background-color: #e6f7ff;
    text-align: left;
  }

  .chat-input {
    display: flex;
    padding: 10px;
  }

  .chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .chat-input button {
    /* background-color: #4CAF50; */
    background-color: #60a789;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .button-option {
    /* background-color: #4CAF50; */
    background-color: #60a789;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  header nav ul li a:hover{
    border: none;
    background-color:rgba(0, 0, 0, 0.267);
   color: white;
   border-radius: 10px;
   margin: 5px;
   padding: 10px 15px;


     }
     .accueil-link {
      border: none;
      background-color: rgba(0, 0, 0, 0.267);
      color: white;
      border-radius: 10px;
      margin: 5px;
      padding: 10px 15px;
    
  }